@page "/CarListings"
@using Models
@using Data
@inject IListingService ListingService
@inject IVehicleService VehicleService
@inject NavigationManager NavMgr
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Car Listings</h3>
<br>

@if (listingsToShow == null)
{
    
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Car</th>
            <th>Type</th>
            <th>Owner</th>
            <th>Price/day</th>
            <th>Location</th>
            <th>Book</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var item in listingsToShow)

        {
            <tr>
                <td>@item.Vehicle</td>
                <td>@item.Vehicle.Type</td>
                <td>@item.Price</td>
                <td>@item.Location</td>
                <td>@item.Vehicle.Owner.Cpr</td> @* TODO switch to owner name? *@
                <td>
                    <button @onclick="@(() => ViewListing(item.Vehicle.LicenseNo))">
                        <i class="oi oi-book" style="color:limegreen"></i>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}


@code
{

    private IList<Listing> listingsToShow;
    private IList<Listing> allListings;

    protected override async Task OnInitializedAsync()
    {
        //allListings = await ListingService.GetAllListingsAsync();
        listingsToShow = allListings;
    }

    private void ViewListing(string licenseNo)
    {
        NavMgr.NavigateTo($"ViewListing/{licenseNo}"); //TODO change to listing id instead of vehicle licenseNo
    }
}