@page "/view-listing/{ListingId:int}"
@using CarSharing_Client.Models
@using CarSharing_Client.Data

@inject IListingService ListingService
@inject IVehicleService VehicleService
@inject NavigationManager NavigationManager


@if (_listing == null)
{
    <em>Listing not found!</em>
}
else
{
    @* $1$ <div> #1# *@
    @* $1$     <p>Location: @_listing.Location</p> #1# *@
    @* $1$     <p>Type: @_listing.Vehicle.Type</p> #1# *@
    @* $1$     <p>Brand: @_listing.Vehicle.Brand</p> #1# *@
    @* $1$     <p>Model: @_listing.Vehicle.Model</p> #1# *@
    @* $1$     <p>License№: @_listing.Vehicle.LicenseNo</p> #1# *@
    @* $1$ #1# *@
    @* $1$     <p>Manufacture Year: @_listing.Vehicle.ManufactureYear</p> #1# *@
    @* $1$     <p>Seats: @_listing.Vehicle.Seats</p> #1# *@
    @* $1$     <p>Transmission: @_listing.Vehicle.Transmission</p> #1# *@
    @* $1$     <p>Fuel type: @_listing.Vehicle.FuelType</p> #1# *@
    @* $1$     <p>Mileage: @_listing.Vehicle.Mileage</p> #1# *@
    @* $1$ #1# *@
    @* $1$     <p>Listed Date: @_listing.ListedDate</p> #1# *@
    @* $1$     <p>Price/day: @_listing.Price</p> #1# *@
    @* $1$     <p>Available from: @_listing.DateFrom</p> #1# *@
    @* $1$     <p>Available to: @_listing.DateTo</p> #1# *@
    @* $1$ #1# *@
    @* $1$     $2$ Owner CPR isn't included. I don't think it's needed in a listing. Maybe after purchase... #2# #1# *@
    @* $1$ #1# *@
    @* $1$ </div> #1# *@
    @* $1$ #1# *@
    @* $1$ <p> #1# *@
    @*     <button @onclick="@(() => GoBack())"></button> *@
    @* </p> *@
    @* <p> *@
    @* *@
    @*     <button @onclick="@(() => Lease())"></button> *@
    @* </p> *@
}


@code {

    [Parameter]
    public int ListingId { get; set; }

    private readonly Listing _listing;

    protected override async Task OnInitializedAsync()
    {
        //Todo 01.11.21 by Ion - get the listing by ID or maybe by location and dates?
        //_listing = await ListingService.GetListingAsync(ListingId);
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo($"CarListings");
    }

    private void Lease()
    {
        NavigationManager.NavigateTo($""); 
    }

}

